<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
        <%= title %> 
    </title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <title>videoChatApp</title> 
    <link rel="stylesheet" href="/css/room.css" />
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>


    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>

  </head>
  <body>
    <%- body %>
  </body>
  <script src="/js/room.js"></script>
</html>