<div>
    <h2>
        <p>Hi <%=comment.user.name%>!</p>
        <br>
        <br>
        <p>Your Comment "<strong><i><u></u><%=comment.content%><u></u></i></strong>" just got published on Comet.</p>
        <br>
        <br>
        <p>Thanks!</p>
    </h2>
</div>